@model string[]

@{
    OptionsViewModel optionsModel = (OptionsViewModel)ViewData["CheckBoxQuestion"];
    var propName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var hasError = ViewData.FieldHasError(propName);
    var describedBy = !string.IsNullOrEmpty(optionsModel.Hint) ? hasError ? $"{propName}-hint {propName}-error" : $"{propName}-hint" : "";
}

<div class="govuk-form-group@(hasError ? " govuk-form-group--error" : "")">
    <fieldset class="govuk-fieldset" aria-describedby="@describedBy">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-label govuk-!-font-weight-bold">
                @optionsModel.Question
            </span>
        </legend>
        @if (!string.IsNullOrEmpty(optionsModel.Hint))
        {
            <div id="@propName-hint" class="govuk-hint">
                <p>@optionsModel.Hint</p>
            </div>
        }
        @if (hasError)
        {
            <span id="@propName-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span><span asp-validation-for="@Model" class="govuk-error-message"></span>
            </span>
        }
        <div class="govuk-checkboxes">
            @{
                var i = 0;
            }
            @foreach (var checkbox in optionsModel.Options)
            {
                var id = i == 0 ? "" : "." + i.ToString();
                var checkedVal = Model != null && Model.Contains(checkbox.Value) ? "checked" : "";
                <div class="govuk-checkboxes__item">
                    <label>
                        <input class="govuk-checkboxes__input" type="checkbox" name="@propName" id="@propName@id" value="@checkbox.Value" @checkedVal>
                        <span class="govuk-label govuk-checkboxes__label">
                            @checkbox.Text
                        </span>
                    </label>
                </div>
                i++;
            }
        </div>
    </fieldset>
</div>
